<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.im2017.signansmaster">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.transition"
            android:value="@string/TRANSLATOR_api"/>

        <meta-data
            android:name="com.google.cloud.translate.TranslateOptions.API_KEY_ENV_NAME"
            android:value="@string/TRANSLATOR_api"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selectMode" />
        <activity android:name=".selectLanguage" />
        <activity android:name=".getVideo" />
        <activity android:name=".browseVideo" />
        <activity android:name=".animation" />
        <activity android:name=".displayOutput" />
        <activity android:name=".viewOutput"/>
    </application>

</manifest>